@model IEnumerable<GmrLib.Models.Turn>
@{
    Layout = null;

    var lastDateTag = DateTime.MinValue.Date;
    int timeZoneOffset = 0;

    var currentUser = GmrServer.Global.CurrentUser();
    if (currentUser != null)
    {
        var prefs = GmrLib.Models.PackagedPreferences.Get(currentUser);
        timeZoneOffset = (int)prefs.TimeZone;
    }
}

<div id="game-turn-list">
    <div id="game-turn-list-header">
        <div class="turn-player turn-cell">
            <span class="turn-cell-title">Player</span>
        </div>
        <div class="turn-started turn-cell">
            <span class="turn-cell-title">Started</span>
        </div>
        <div class="turn-finished turn-cell">
            <span class="turn-cell-title">Finished</span>
        </div>
        <div class="turn-type turn-cell">
            <span class="turn-cell-title">Skipped</span>
        </div>
        <div class="turn-points turn-cell">
            <span class="turn-cell-title">Points</span>
        </div>
    </div>
    <div id="game-turn-list-content">
        @foreach (var turn in Model.Where(t => t != null && t.Finished.HasValue))
        {
            var finished = turn.Finished.Value.AddHours(timeZoneOffset);
            var started = turn.Started.Value.AddHours(timeZoneOffset);

            if (finished.Date != lastDateTag)
            {
                lastDateTag = finished.Date;
                
            <div class="turn-date-tag">@lastDateTag.ToString("MMMM d, yyyy")</div>
            }
            
            <div class="turn-row">
                <div class="turn-player-avatar turn-cell">
                    <a href="/Community#@turn.UserID" target="_blank">
                        <img class="@turn.UserID sm avatarsm" 
                             src="@Url.Content(GmrServer.Avatar.GetBorderImages(@turn.UserID).SmallBorder)"
                             style="background-image:url('@turn.User.AvatarUrl')"/>
                    </a>
                </div>
                <div class="turn-player-name turn-cell">
                    <div class="turn-cell-text">
                        <a href="/Community#@turn.UserID" target="_blank">@turn.User.UserName</a>
                    </div>
                </div>
                <div class="turn-started turn-cell">
                    <div class="turn-cell-text">
                        @started.ToString("h:mm tt")
                        <br />
                        @started.ToString("MMM d, yyyy")
                    </div>
                </div>
                <div class="turn-finished turn-cell">
                    <div class="turn-cell-text">
                        @finished.ToString("h:mm tt")
                        <br />
                        @finished.ToString("MMM d, yyyy")
                    </div>
                </div>
                <div class="turn-type turn-cell">
                    <div class="turn-cell-text">
                        @turn.SkipStatusDisplay
                    </div>
                </div>
                <div class="turn-points turn-cell">
                    <div class="turn-cell-text">
                        <img src="/Content/images/points.png" />
                        <span>@string.Format("{0:n0}", turn.Points)</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
